<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"
          ><img height="35px" src="https://previews.123rf.com/images/polyudova/polyudova1704/polyudova170400065/77028782-c%C3%B3ctel-alcoh%C3%B3lico-dibujado-a-mano-ilustraci%C3%B3n-vectorial-icono-de-c%C3%B3ctel-vintage-con-hielo-lim%C3%B3n-y.jpg"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
            <a class="nav-link" href="{{ path("listCocktail") }}">Cocktails list</a>
            <a class="nav-link" href="#">Make your own cocktail</a>
          </div>
        </div>
      </nav>
     
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
