{% extends "cocktails/baseCocktail.html.twig" %}

{% block content %}

<h2>Listado de Cocktails</h2>
    <div class="row row-cols-1 row-cols-md-2">
    {% for cocktail in cocktails %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem">
            <img src="{{ cocktail.image }}" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ cocktail.name }}</h5>
                <p class="card-text">{{ cocktail.category }}</p>
                <a href="{{ path("showCocktail", {id:cocktail.id}) }}" class="btn btn-primary">Más Info</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
